@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


* {
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: Helvetica, Arial, sans-serif;
}
h1 h3{
		font-size: 150px;
		text-align: center;
		color: #000;
}
#app-container{
	height: 100%;
}

.pack-description{
	width: 50%;
	border: 2px solid #000;
}
.pack-auth-form{
	width: 95%;
	margin-left: 40px;
	margin-right: 40px;
	border: 2px solid black;
	background-color: #89C4F4;
}
.lugg-auth-form{
	width: 95%;
	margin-left: 40px;
	margin-right: 40px;
	border: 2px solid black;
	background-color: #89C4F4;
}
.existing-lugger{
	margin-top: 100px;
}

#login-form {
	width: 50%;
	display: inline-block;
}

#create-form {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

#truck-login-form{
	width: 50%;
	display: inline-block;
}

#truck-create-form{
	width: 50%;
 	display: inline-block;
 	vertical-align: top;
 }


.main-container{
	   color: #3A539B;
		width: 100%;
	   margin: 0;
		height: 400px;
	   padding-top: 50px;
	   padding-left: 20px;
	   margin-bottom: 0;
	   position: relative;
	   background: url('../images/MoverBox.jpg') center center no-repeat fixed;
	   background-size: cover;
			i{
				color: #3A539B;
			}
			h1{
				font-size: 30px;
				text-shadow: 1px 1px #000;
			}
			h3{
				text-shadow: 1px 1px #000;

			}
}
.profile-row{
	width: 100%;
	margin: 0, auto;
	padding-top: 50px;
}
.lugg-data{
	width: 45%;
	display: inline-block;
	  li{
		list-style-type: none;
		}
		a{
		color: #000;
		text-decoration: none;

		}
}
#map{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 3%;
	right: 5%;
	width: 40%;
	height: 90%;

}

#map2{

	position: absolute;
	top: 99%;
	right: 5%;
	width: 40%;
	height: 45%;
}

#create-lugg-form{
	padding: 10px;
}
#s_address, #e_address, #cargo_description, #cargo_img{
	width: 50%;
}

.map-container, .pack-description{
	background-color: #89C4F4;
}
.map-container{
	width: 49.5%;
}
.info-container{
	margin-top: 20px;
		width: 100%;

			.truck-info{
				color: #000;
				display: inline-block;
				width: 33.3%;
				img{
					opacity: .5;

				}
			}
			.lugg-reviews{
				display: inline-block;
				vertical-align: top;
				width: 33.3%;
				img{
					opacity: .5;

				}
			}
			.pack-reviews{
				display: inline-block;
				vertical-align: top;
				width: 33.3%;
				img{
					opacity: .5;
				}
			}
}
.form-container{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	border: 2px solid black;
	background-color: #89C4F4;

}

.lugg-container{
	width: 100%;
}
.lugg-list-container{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 300px;
	border: 2px solid black;
	background-color: #89C4F4;

}

.profileImg{
	border-radius: 100%;
	height: 80%;
	width: 80%;

}
