@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


* {
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;

}

#app-container{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}

.main-logo-header{
	color: #76D54D;
	font-size: 70px;
	font-family: 'Sanchez', 'Baskervilles', serif;
	border: 2px solid #3A539B;
	background-color: rgba(8,59,102,.8);
	padding: 40px;
}

.pack-description{
	width: 50%;
	border: 2px solid #000;
}

.pack-description-container{
	font-size: 18px;
	padding-top: 50px;
		.return-button{
		margin-left: 325px;
		}

}

.pack-auth-container{
	color: #3A539B;
	height: 500px;
	padding-top: 300px;
	background: url('../images/MoverBox.jpg');
	background-size: cover;
		.pack-auth-lead{
			font-size: 30px;
			display: inline-block;
				h3{
					margin-top: 50px;
					font-size: 40px;
					font-weight: 600;
				}
			}
		.pack-auth-logo{
			padding-top: 45px;
			display: inline-block;
			width: 15%;
		}
		.pack-auth-form{
			border: 2px solid black;
			background-color: #89C4F4;



				#create-form {
					width: 50%;
					display: inline-block;
					vertical-align: top;
				}
		}
}
.oneLugg-container{
	color: #FFF;
	padding-top: 100px;
}
.home-container{
	background: url(../images/chevrolet-pickup.jpg) center top no-repeat;
	background-size: cover;
	height: 100vh;
	display: block;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.home-container2{
	background-color: #31536E;
}
.navbar{
	opacity: .5;
}
.navbar-logo{
	display: inline-block;
	margin-left: 3px;
	width: 50%;
	}




.lugg-auth-container{

	color: #FFF;
	text-shadow: 1px 1px black;
	height: 500px;
	padding-top: 300px;
	background: url('../images/MoverBox.jpg');
	background-size: cover;

	.lugg-auth-lead{
		font-size: 25px;
		display: inline-block;
	}
		h3{
			font-size: 25px;
			font-weight: 600;
		}
	.lugg-auth-logo{
		padding-top: 15px;
		display: inline-block;
		width: 15%;

	}
	.lugg-auth-form{
		border: 2px solid black;
		background-color: rgba(137,196,244,.5);

			.create-lugg-form{
				h2{
					padding-top: 60px;
				}
			}
			#truck-login-form{
				width: 50%;
				display: inline-block;

			}
			#truck-create-form{
				width: 50%;
	 			display: inline-block;
	 			vertical-align: top;
	 		}
		}
}



.home-main-container{
	   color: #3A539B;
		width: 100%;
		height: 100%;
	   padding-top: 100px;
	   background: url('../images/MoverBox.jpg') center center no-repeat fixed;
	   background-size: cover;
			i{
				color: #3A539B;
			}

			.login-btn-row{
			}

			.profile-row{
			 width: 100%;
			 padding-top: 80px;
			 	.luggerProfile, {

				  background: rgba(118,213,77,.5);
				  border-radius: 5px;
				  padding: 20px;

					h3, p{
						color: #3A539B;

						font-size: 20px;
						font-weight: 600;
					}
			 	}
				.packerProfile{

				  background: rgba(216,226,250,.5);
				  border-radius: 5px;
				  padding: 20px;

					h3, p{
						color: #3A539B;

						font-size: 20px;
						font-weight: 600;
					}
			 	}
			}
			.home-page-lead{
				padding-top: 65px;
				display: inline-block;
				font-size: 30px;
				font-weight: 600;
				color: #FFF;

			}
			.home-page-logo{
				float: left;
				padding-top: 50px;
				display: inline-block;
				width: 15%;
					img{
					}
				}
}
.footer-container{
	color: #FFF;
	text-shadow: 1px 1px black;
	background-color: #A4B8E9;
}

.faq-logo-container{
	color: #FFF;
	text-shadow: 1px 1px black;
	height: 380px;
	background: url('../images/MoverBox.jpg')center no-repeat fixed;
	background-size: cover;
		h1, h3{
			font-size: 30px;
		}

		.faq-logo{
			padding-top: 250px;
			float: left;
			display: inline-block;
			width: 15%;
		}

		.faq-lead{
			padding-top: 255px;
			display: inline-block;
			font-size: 50px;
			font-weight: 600;
			color: #083B66;
		}
	}
		.faq-container{
			background-color: #CAD6F2;
			color: #083B66;
				p{
					font-size: 25px;
				}
		}

.lugger-container{
	color: #FFF;
	text-shadow: 1px 1px black;
		h3{
			padding-left: 30px;
		}
}

.logo-lugger{
	padding-top: 30px;
	width: 15%;
	display: inline-block;
	background-color: #89C4F4;
		img{
			width: 10%;
		}
}

.lugg-map-container{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	margin-top: 90px;
}
.lugg-list-container{
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
		i{
			color: #000;
		}
		.lugg-item{
			width: 50%;
		}
}
.lugg-data{
	width: 50%;
}

.map-container{
	display: inline-block;
	width: 49.5%;
		p{
			font-size: 20px;
			font-weight: 600;
		}

		#map{
			margin-top: 10%;
			margin-right: 10px;
			margin-left: 40px;
			display: inline-block;
			vertical-align: top;
			width: 500px;
			height: 300px;
		}
  	}


 	.lugg-home-container{
	  	width: 100%;
	  	height: 100%;
	  	padding-top: 50px;
	  	padding-left: 20px;
		margin-top: 0;
	  	background: url('../images/moving-boxes.jpg') center center no-repeat fixed;
	  	background-size: cover;
	  		i{
	  			color: #3A539B;
	  		}
	  		h1{
	  			font-size: 30px;
	  		}

	  }

	.form-container{
		color: #FFF;
		text-shadow: 1px 1px black;
		width: 100%;
		padding: 10px;
		border: 2px solid black;
		background-color: rgba(255,255,255, .8%);
		display: inline-block;
			#create-lugg-form{
				padding: 10px;
			#s_address, #e_address, #cargo_description, #cargo_img{
				width: 50%;
			}
			.pending-button{
				margin-left: 900px;
			}
		}
		.map-container2{
			display: inline-block;
			width: 10%;
		}
		#map2{
			margin-top: 10px;
			margin-right: 10px;
			margin-left: 50%;
			display: inline-block;
			vertical-align: top;
			width: 600px;
			height: 400px;
		}
}

.packer-container{
	font-size: 140px;
}

.info-container{
	font-size: 0;
	background: rgba(216,226,250,.8);
	   margin-top: 20px;
		width: 100%;

			.truck-info{
				font-size: medium;
				padding: 20px;
				display: inline-block;
				width: 33.3%;
				h3, p{
					font-size: 20px;
				}
				img{
					border: 1px solid #000;
					border-radius: 100%;

				}
			}
			.FAQ{
				font-size: medium;
				padding: 20px;
				display: inline-block;
				vertical-align: top;
				width: 33.3%;
				h3, p{
					font-size: 20px;
				}
				img{
					border: 1px solid #000;
					border-radius: 100%;

				}
			}
			.pack-reviews{
				font-size: medium;
				padding: 20px;
				display: inline-block;
				vertical-align: top;
				width: 33.3%;
				h3, p{
					font-size: 20px;
				}
				img{
					border: 1px solid #000;
					border-radius: 100%;
				}
			}
}
.review-container{
	color: #FFF;
	text-shadow: 1px 1px black;
	height: 380px;
	background: url('../images/MoverBox.jpg')center no-repeat fixed;
	background-size: cover;
	.review-logo{
		float: left;
		padding-top: 270px;
		display: inline-block;
		width: 15%;
		}
	.review-lead{
		padding-top: 285px;
		display: inline-block;
		font-size: 40px;
		font-weight: 600;
		color: #083B66
	}
}
	.reviews-info{
		padding-top: 50px;
		background-color: #D0DDF4;
		padding-left: 20px;
	}



.about-container{
	color: #FFF;
	text-shadow: 1px 1px black;
	height: 500px;
	background: url('../images/MoverBox.jpg')center no-repeat fixed;
	background-size: cover;
}

.list-group-item {
	width: 80%;
	height: 75px;
	background-color: rgba(255,255,255, .9%);
		.status-btn{
			margin-left: 75%;
			margin-top: -15px;
		}

}

.modal-container{
	&.is-hidden{
		display: none;
	}
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2000;

	.overlay{
		position: fixed;
		top: 0;
		left: 0;
		width:100%;
		height: 100%;
		background: rgba(50,50,50,.5);
	}

	.window{
		padding: 20px;
		background: #fff;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.builderPro{
	color: #FFF;
	text-shadow: 1px 1px black;
	background-color: #89C4F4;
	display: inline-block;
		.thumbnail{
			background-color: #D0DDF4;
		}
		.profileImg1{
			display: inline-block;
			border-radius: 100%;
			height: 80%;
			width: 80%;
			}
		.profileImg2{
			display: inline-block;
			border-radius: 100%;
			height: 73%;
			width: 73%;
			}
		.profileImg3{
			display: inline-block;
			border-radius: 100%;
			height: 95%;
			width: 95%;
			}
		}
	.truck-info-logo{
		float: left;
		padding-top: 392px;
		display: inline-block;
		width: 15%;
		}
	.truck-info-lead{
		padding-top: 400px;
		display: inline-block;
		font-size: 30px;
		font-weight: 600;
		color: #083B66
	}
