@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}
	h1 {
		font-size: 100px;
		text-align: center;
		color: #000;
	}
.truck-info{
	display: inline-block;
	width: 33%;
}
.lugg-reviews{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.pack-reviews{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
